<mat-card class="card-home mat-elevation-z3">        
    <mat-card-title class="card-title ">
      Edit Movie
  </mat-card-title>
  <form [formGroup]="updateForm" (ngSubmit)="updateMovie()">
    <mat-form-field appearance="fill">
        <input matInput placeholder="movie Title's" formControlName="title" >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Director" formControlName="director" >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="movie genres" formControlName="genres" >
    </mat-form-field>    
    
    <mat-form-field appearance="fill">
      <input matInput placeholder="Year Launch" formControlName="year" >
  </mat-form-field>  
  <div>
    <button mat-flat-button color="primary" type="submit" disabled="!updateForm.valid">Update</button>    
    <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>  
   </div>
  </form>

  
</mat-card>